<div class="row custom-list">
  <div class="col-xs-12">
    <%= form_tag("/search/", method: "get") do %>
      <%= label_tag(:q, "Game Search:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="jumbo">
    <h2>Welcome friendos,</h2>
    <ol>
      <li><a href="#">Register</a> profile and add to your lists</li>
      <li>Check out users with opposite interests</li>
      <li>Make offers or counteroffers for games</li>
      <li>Agree hand off before accepting trades</li>
      <li>Rate counterparty to strengthen trading community!</li>
      <br>
    </ol>
    <h4>Here is what's trending today...</h4>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 gamelist">
    <div class="row custom-list">
      <h1 class="listtitle">Most Wanted
      </h1>
      <table id='top-wanted' class="display table table-border table-condensed tablesorter gametable" cellspacing="0" width="100%">
        <thead>
          <tr class='row wantrow'>
            <th class='col-xs-1'>Pic</th>
            <th class='col-xs-5'>Title</th>
            <th class='col-xs-3'>Console</th>
            <th class='col-xs-1'>Locale</th>
            <th class='col-xs-2 numusers'># of Users</th>
          </tr>
        </thead>
        <tbody>
          <% @wanted_games.each do |game| %>
            <tr class="row wantrow">
              <td class="col-xs-1" ><%= link_to game do %><%= image_tag game.image, :size => '70x50'  %><% end %></td>
              <td class="col-xs-5 gamelisttext"><%= link_to game do %><%= game.name %><% end %></td>
              <td class="col-xs-3 gamelisttext"><%= game.compatible %></td>
              <td class="col-xs-1 gamelisttext"><%= game.version %></td>
              <td class="col-xs-2 gamelisttext"><%= game.user_games.where({wantgive: :'w'}).count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 gamelist">
    <div class="row custom-list">
      <h1 class="listtitle">Most Given
      </h1>
      <table id='top-given' class="display table table-border table-condensed tablesorter" cellspacing="0" width="100%">
        <thead>
          <tr class='row giverow'>
            <th class='col-xs-1'>Pic</th>
            <th class='col-xs-5'>Title</th>
            <th class='col-xs-3'>Console</th>
            <th class='col-xs-1'>Locale</th>
            <th class='col-xs-2 numusers'># of Users</th>
          </tr>
        </thead>
       
        <tbody>
          <% @given_games.each do |game| %>
            <tr class="row giverow">
              <td class="col-xs-1" ><%= link_to game do %><%= image_tag game.image, :size => '70x50'  %><% end %></td>
              <td class="col-xs-5 gamelisttext"><%= link_to game do %><%= game.name %><% end %></td>
              <td class="col-xs-3 gamelisttext"><%= game.compatible %></td>
              <td class="col-xs-1 gamelisttext"><%= game.version %></td>
              <td class="col-xs-2 gamelisttext"><%= game.user_games.where({wantgive: :'g'}).count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row custom-list">
  <div class="col-xs-12">
    <%= form_tag("/search/", method: "get") do %>
      <%= label_tag(:q, "Game Search:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>