<div class="jumbo">
  <%= link_to "Back", :back %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label "Pick an Avatar" %><br />
      <%= f.text_field :avatar_id, id: "avatar_id", hidden: true  %>
      <table>
        <tr>
          <td>
            <%= image_tag "avatar1.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar1.png' %>
          </td>
          <td>
            <%= image_tag "avatar2.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar2.png' %>
          </td>
          <td>
            <%= image_tag "avatar3.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar3.png' %>
          </td>
          <td>
            <%= image_tag "avatar4.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar4.png' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag "avatar5.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar5.png' %>
          </td>
          <td>
            <%= image_tag "avatar6.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar6.png' %>
          </td>
          <td>
            <%= image_tag "avatar7.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar7.png' %>
          </td>
          <td>
            <%= image_tag "avatar8.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar8.png' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag "avatar9.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar9.png' %>
          </td>
          <td>
            <%= image_tag "avatar10.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar10.png' %>
          </td>
          <td>
            <%= image_tag "avatar11.png", :size => '35x25', class: 'avatar', :"data-id" => 'avatar11.png' %>
          </td>
        </tr>
      </table>
    </div>

    <div class="field">
      <p class="email-label">Email</p>
      <%= f.text_field :email, class: "commentsform" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: "commentsform" %>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "commentsform" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "commentsform" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "commentsform" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "gamenavbuttons" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "gamenavbuttons" %>

  <%= link_to "Back", :back %>
</div>
