<% offerlistname.reverse.each do |offer| %>
  <tr class="row-fluid <%= cssrow %>">
    <td class="col-xs-1">
      <%= offer.id %>
    </td>
    <td class="col-xs-2">
      <% if current_user.id == offer.send_id %>
        <%= User.find(offer.received_id).username %>
      <% else %>
        <%= User.find(offer.send_id).username %>
      <% end %>
    </td>
    <td class="col-xs-2">
      <% if current_user.id == offer.send_id %>
        <% offer.send_games.each do |d| %>
          <%= truncate(Game.find(d).name, length: 18) %><br>
        <% end %>
      <% else %>
        <% offer.receive_games.each do |e| %>
          <%= truncate(Game.find(e).name, length: 18) %><br>
        <% end %>
      <% end %>
    </td>
    <td class="col-xs-2">
      <% if current_user.id == offer.send_id %>
        <% offer.receive_games.each do |d| %>
          <%= truncate(Game.find(d).name, length: 18) %><br>
        <% end %>
      <% else %>
        <% offer.send_games.each do |e| %>
          <%= truncate(Game.find(e).name, length: 18) %><br>
        <% end %>
      <% end %>
    </td>
    <td class="col-xs-1 offerstatus">
      <%= offer.status %>
    </td>
    <% if offer.status == "Accepted" || offer.status =="Declined" %>
      <td colspan="2" class="col-xs-2">
    <% elsif offer.send_id == current_user.id %>
      <td class="col-xs-1"></td>
      <td class="col-xs-1">
        <%= button_to "Cancel", "", method: :get, class: "btn-danger cancel_offer", :'data-id' => offer.id, :remote => true %>
      </td>  
    <% else %>
      <td class="col-xs-1">
        <%= button_to "Accept", "#", method: :get, class: "btn-success accept_offer", :'data-id' => offer.id, :remote => true %>
      </td>
      <td class="col-xs-1">
        <%= button_to "Decline", "#", method: :get, class: "btn-danger decline_offer", :'data-id' => offer.id, :remote => true %>
      </td>
    <% end %>
  </tr>
<% end %>