<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
  <div class="row custom-list">
    <% if usergames.length > 0 %>
      <h1 class="listtitle"><%= thelisttitle %>
      </h1>
      <table id="<%= tableid %>" class="display table table-border table-condensed">
        <thead>
          <tr class='row <%= rowcss %>'>
            <th class='col-xs-1'>Pic</th>
            <th class='col-xs-4'>Title</th>
            <th class='col-xs-2'>Console</th>
            <th class='col-xs-1'>Locale</th>
            <th class='col-xs-1'>Condition</th>
            <% if @user.id == current_user.id%>
              <th class='col-xs-1'>Remove</th>
            <% else %>
              <th class='col-xs-1'>Offer</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% usergames.each do |usergame| %>
            <tr class="row <%= rowcss %>">
              <td class="col-xs-1" ><%= link_to usergame.game do %><%= image_tag usergame.game.image, :size => '40x40'  %><% end %></td>
              <td class="col-xs-4 gamelisttext"><%= link_to usergame.game do %><%= truncate(usergame.game.name, length: 44) %><% end %></td>
              <td class="col-xs-2 gamelisttext"><%= usergame.game.compatible %></td>
              <td class="col-xs-2 gamelisttext"><%= usergame.game.version %></td>
              <td class="col-xs-1 gamelisttext"><%= usergame.condition %></td>
              <% if @user.id == current_user.id%>
                <td class="col-xs-1"><button class="removebutton" data-id="<%= usergame.id %>">X</button></td>
              <% else %>
                <td class="col-xs-1">
                  <%= button_to "Offer", "/offers/#{@user.id}", method: :get, class: "gamenavbuttons" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h4><%= emptymessage %></h4>
    <% end %>
  </div>
</div>