
<h3>Email: <%= @user.email %></h3>
<h3>Username: <%= @user.username %></h3>

<div class="row">

  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
    <div class="row custom-list">
      <h1>
        Wanted
      </h1>
    
    <table id='wanted'>
      <thead>
        <tr class='row'>
          <th class='col-xs-1'>Pic</th>
          <th class='col-xs-4'>Title</th>
          <th class='col-xs-1'>Condition</th>
          <th class='col-xs-2'>User email</th>
        </tr>
      </thead>
      <tbody>
        <% @wanted_game.each do |usergame| %>
          <tr class="row">
            <td class="col-xs-1" ><%= image_tag usergame.game.image, :size => '90x70'  %></td>
            <td class="col-xs-4 gamelisttitle"><%= usergame.game.name %></td>
            <td class="col-xs-1"><%= usergame.condition %></td>
            <td class="col-xs-2"><%= usergame.user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
    <div class="row custom-list">
      <h1>
        Given
      </h1>
    
    <table id='given'>
      <thead>
        <tr class='row'>
          <th class='col-xs-1'>Pic</th>
          <th class='col-xs-4'>Title</th>
          <th class='col-xs-1'>Condition</th>
          <th class='col-xs-2'>User email</th>
        </tr>
      </thead>
      <tbody>
        <% @given_game.each do |usergame| %>
          <tr class="row">
            <td class="col-xs-1" ><%= image_tag usergame.game.image, :size => '90x70'  %></td>
            <td class="col-xs-4 gamelisttitle"><%= usergame.game.name %></td>
            <td class="col-xs-1"><%= usergame.condition %></td>
            <td class="col-xs-2"><%= usergame.user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

</div>