<%= render "users/searchbar" %>

<div class="jumbo row">
  <%= image_tag @user.avatar_id, :size => '55x45', class: 'avatar' %>
  <h2><%= @user.username %></h2>
  <h5><% @user.email %></h5>
  <%= render "users/commentsection" %>
</div>

<div class="row">

  <%= render "users/userwantlist" %>

  <%= render "users/usergivelist" %>

</div>

<%= render "users/searchbar" %>