<div class="custom-list">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag("/search/", method: "get") do %>
        <%= label_tag(:q, "Game Search:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>

<div class="jumbo">
  <h2>Title: <%= @game.name %></h2>
  <%= image_tag @game.image, :size => '200x170' %>
  <div class="hihi">
    <%= form_for @user_games, :method => :post do |f| %>
      <%= f.text_field :user_id, :value => current_user, class: "commentsform user_game_user_id", :hidden => true %>
      
      <%= f.label :condition %>
      <%= select_tag(:condition, options_for_select([['New and unused', 5], ['Used and in good condition', 4], ['Damaged case',3], ['No case',2], ['Scratches on disc',1]],4), :class => "form-control select-condition") %><br>

      <%= f.label :wantgive, "Want/Give" %>
      <%= select_tag(:wantgive, options_for_select([['Want', 'w'], ['Give', 'g']],1), :class => "form-control wantgive-condition user_game_wantgive") %>

      <%= f.text_field :game_id, :value => @game.id, class: "commentsform user_game_game_id", :hidden => true %>

      <%= f.submit "Submit", class: "gamenavbuttons submitbutton" %>
    <% end %>
  </div>


  <h4>Release Date: <%= @game.release_date %></h4>
  <h4>Console: <%= @game.compatible %></h4>
  <h4>Genre: <%= @game.genre %></h4>
  <h6>Version: <%= @game.version %></h6>
  <h6>Encoding: <%= @game.encoding %></h6>
  <h6>URL: <%= link_to @game.url, @game.url %></h6>
  <h6>Manufacturer: <%= @game.manufacturer %></h6>
  <% prevgame = @game.id-1 %>
  <% nextgame = @game.id+1 %>
  <%= button_to "<< Previous Game ", "#{prevgame}", method: :get, class: "gamenavbuttons" %>
  <%= button_to " Next Game >>", "#{nextgame}", method: :get, class: "gamenavbuttons" %>
</div>

<div class="custom-list">
  <%= render 'games/userlist', :userslisttitle => 'Wanted by:',:cssrow => 'wantrow',:userlistclass => 'user_game_wanted_list', :listusers => @listwantedusers, :emptymessageclass => 'emptywantedmessage', :emptymessage => 'Currently no one wants this game' %>
  <%= render 'games/userlist', :userslisttitle => 'Given by:',:cssrow => 'giverow',:userlistclass => 'user_game_given_list', :listusers => @listgivenusers, :emptymessageclass => 'emptygivenmessage', :emptymessage => 'Currently no one is willing to give up this game' %>
</div>

<div class="custom-list">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag("/search/", method: "get") do %>
        <%= label_tag(:q, "Game Search:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>
