<table class="display table table-border table-condensed tablesorter gametable" style="margin-bottom:0;">
  <thead>
    <tr class='row offerrow'>
      <th class="col-xs-1">+</th>
      <th class='col-xs-2'>Pic</th>
      <th class='col-xs-6'>Title</th>
      <th class='col-xs-3'>Details</th>
    </tr>
  </thead>
</table>
<div class="test">
  <table class="display table table-border table-condensed tablesorter gametable" style="margin-bottom:0;">
    <tbody class="<%=preplist%>">
      <% usergames.each do |usergame| %>
        <tr class="row offerrow <%= whoofferrow %>" data-id="<%= usergame.game.id %>">
          <td class="col-xs-1"><%= button_to "+", "#", method: :get, class: "font-black" %></td>
          <td class="col-xs-2"><%= image_tag usergame.game.image, :size => '40x30' %></td>
          <td class="col-xs-6 gamelisttext"><%= link_to usergame.game do %><%= truncate(usergame.game.name, length: 28) %><% end %></td>
          <td class="col-xs-3 gamelisttext"><%= usergame.game.compatible %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>