<div class="row">
  <div class="jumbo col-xs-6 no-margin">
    <div class="mytradesquares">
      <img id="mygrid" height='72px' width='72px'>
    </div>
  </div>
  <div class="jumbo col-xs-6 no-margin">
    <div class="yourtradesquares">
      <img id="yourgrid" height='72px' width='72px'>
    </div>
  </div>
</div>
<div class="row jumbo no-margin">
  <div class=""><%= button_to "Offer", "#", method: :post, id: "offer_button", class: "btn-primary offer_buttons col-xs-12" %></div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="row jumbo">
      <%= link_to current_user.username, current_user, :id => "offerer", :class => "offer_user_title", :'data-id' => @current_user.id %>
      <%= render '/offers/user_offer_lists', :usergames => @sender_given_list, :preplist => 'wants', :whoofferrow => 'myofferrow' %>
    </div>
  </div>
  <div class="col-xs-6 gamelist">
    <div class="row jumbo">
      <%= link_to @receiver.username, @receiver, :id => "offeree", :class => "offer_user_title", :'data-id' => @receiver.id %>
      <%= render '/offers/user_offer_lists', :usergames => @receiver_given_list, :preplist => 'gives', :whoofferrow => 'yourofferrow' %>
    </div>
  </div>
</div>
