<!DOCTYPE html>
<html>
  <head>
    <title>The Game Exchange</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <!-- <script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script> -->
    <link href='http://fonts.googleapis.com/css?family=Knewave|Permanent+Marker|Trade+Winds|Vast+Shadow|Ruslan+Display|Fugaz+One|Holtwood+One+SC|Sigmar+One|Monofett|Ceviche+One|Black+Ops+One|VT323|Press+Start+2P|Sancreek|Freckle+Face|Rock+Salt|Griffy' rel='stylesheet' type='text/css'>
    <!-- <link rel="icon" href="assets/images/1up.jpg"> -->
    <%= favicon_link_tag '1up.jpg' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="body">
      <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <header class="header">
      <%= render 'layouts/header' %>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
